#mapCard {
  border: 1px solid #3d4446;

  &:hover{
    border: 1px solid #ff60606b;
    box-shadow: 2px 2px 26px rgb(255 79 79 / 20%);
  }

}

#map {
  opacity: 0;
  position: relative;
  border-radius: 12px;
  transition: opacity .5s;
  background-color: #111;

  &.on {
    opacity: 1;
  }


  .leaflet-control-attribution {
    background: #11111150 !important;
    padding: 10px;
    color: #555 !important;

    a {
      color: #888 !important;
    }
  }


  .leaflet-bar a {
    background-color: #000 !important;
    border-color: #222 !important;
    color: #666 !important;
  }

}

.leaflet-tile {
  filter: invert(1) hue-rotate(180deg) brightness(0.5);
}


.leaflet-tooltip-left:before {
  right: 0;
  margin-right: -12px;
  border-left-color: rgb(45, 52, 53);
}
.leaflet-tooltip-right:before {
  left: 0;
  margin-left: -12px;
  border-right-color: rgb(45, 52, 53);
}



.point-marker {
  width: 26px;
  height: 26px;
  border: 2px solid #ff0000a0;
  box-sizing: border-box;
  background: #ff000020!important;
  border-radius: 50%;
  /*box-sizing: content-box;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 25px 0 rgba(0, 234, 255, 0.1);
  animation: glowPulse 2s infinite ease-in-out;

}

.district-label {
  color: #a7d8da;
  font-size: .9rem;
  font-weight: 100;
  letter-spacing: 1px;
  text-shadow: 0 0 3px black;
  pointer-events: none;
  text-align: center;
  opacity: .5;
  transition: font-size .2s, color .2s, opacity .2s;

  &.active {
    font-size: 1.1rem;
    color: #9afaff;
    opacity: 1;
  }
}

.bezirk-label {
  background: rgba(0, 0, 0, 0.8);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 10px;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.bezirk-label::before {
  border: none;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 5px 5px rgba(255,0,0,0.8), 0 0 25px 8px rgba(255,0,0,0.6);
    background: #51cbff;

  }
  25% {
    box-shadow: 0 0 25px 6px rgba(96, 250, 255, 1), 0 0 15px 4px rgba(96, 250, 255, 0.7);
    background: #f00
  }
  50% {
    box-shadow: 0 0 40px 8px rgba(255,0,0,1), 0 0 40px 8px rgba(255,0,0,0.5);
    background: #51cbff;
  }
  75% {
    box-shadow: 0 0 25px 7px rgba(96, 250, 255, 1), 0 0 15px 3px rgba(96, 250, 255, 0.7);
    background: #f00
  }
  100% {
    box-shadow: 0 0 5px 4px rgba(255,0,0,0.1), 0 0 20px 8px rgba(255,0,0,0.8);
    background: #51cbff;
  }
}

