<div id="overlay" class="hidden">
  <div class="main-overlay">
    <div id="overlay-navi">
      <ul>
        <li class="active" data-item="about">about</li>
        <li data-item="motivation">motivation</li>
        <li data-item="techstack">techstack</li>
      </ul>
    </div>
    <div id="overlay-content">
      <h2 data-item="about">About</h2>
      <div class="content-multi">

      </div>
      <h2 data-item="motivation">Motivation</h2>
      <div class="content-multi">

      </div>
      <h2 data-item="techstack">TechStack</h2>
      <div class="content-multi">

      </div>
    </div>

    <span class="close-overlay-btn">❮</span>

  </div>
</div>