<div id="overlay" class="hidden">
  <div class="main-overlay">
    <div id="overlay-navi">
      <ul>
        <li class="active" data-item="about">about</li>
        <li data-item="motivation">motivation</li>
        <li data-item="techstack">techstack</li>
      </ul>
    </div>
    <div id="overlay-content">
      <h2 data-item="about">About</h2>
      <div class="content-multi">
        <p>
          Truegotham is a web application that reads the current crimes in Dortmund from the police press releases and
          displays them on a map.
          <br />
          <br />
          The data is fetched from the Dortmund police press releases and displayed on a map.
        </p>
        <p>
          <img src="/img/image.jpeg" alt="ein bild" />
        </p>
      </div>
      <h2 data-item="motivation">Motivation</h2>
      <div class="content-multi">
        <p>Nach kurzer Zeit hielt das Taxi auf Höhe der Heyden-Rynsch-Straße an. Der Fahrer stieg aus und zog den
          51-Jährigen an seiner Umhängetasche aus dem Fahrzeug. Während der Geschädigte auf dem Boden lag, schlug der
          Unbekannte mehrfach mit Fäusten auf ihn ein und entriss ihm die Umhängetasche samt Bargeld und Mobiltelefon.
          Anschließend stieg er wieder in das Taxi und fuhr davon. Dabei wurde der 51-jährige Marsberger leicht
          verletzt.</p>
        <p>Die Polizei Dortmund ermittelt wegen Raubes und sucht Zeugen, die zur Tatzeit verdächtige Feststellungen
          gemacht haben oder Hinweise zu dem Täter geben können. Hinweise nimmt die Kriminalwache unter der
          Telefonnummer 0231/132-7441 entgegen.</p>
      </div>
      <h2 data-item="techstack">TechStack</h2>
      <div class="content-multi">
        <p>Nach kurzer Zeit hielt das Taxi auf Höhe der Heyden-Rynsch-Straße an. Der Fahrer stieg aus und zog den
          51-Jährigen an seiner Umhängetasche aus dem Fahrzeug. Während der Geschädigte auf dem Boden lag, schlug der
          Unbekannte mehrfach mit Fäusten auf ihn ein und entriss ihm die Umhängetasche samt Bargeld und Mobiltelefon.
          Anschließend stieg er wieder in das Taxi und fuhr davon. Dabei wurde der 51-jährige Marsberger leicht
          verletzt.</p>
        <p>Die Polizei Dortmund ermittelt wegen Raubes und sucht Zeugen, die zur Tatzeit verdächtige Feststellungen
          gemacht haben oder Hinweise zu dem Täter geben können. Hinweise nimmt die Kriminalwache unter der
          Telefonnummer 0231/132-7441 entgegen.</p>
      </div>
    </div>

    <span class="close-overlay-btn">❮</span>

  </div>
</div>