<div id="overlay" class="hidden">
  <div class="main-overlay">
      <div id="overlay-navi">
        <ul>
          <li>about</li>
          <li>motivation</li>
          <li>techstack</li>
        </ul>
      </div>
      <div id="overlay-content">
        <h2>About</h2>
        <div class="content-multi">
          <p>Nach einem Raub am Freitagmorgen (3. Oktober 2025) auf einen 51-jährigen Mann aus Marsberg sucht die Polizei Dortmund jetzt mögliche Zeugen.</p>
          <p>Ersten Erkenntnissen zufolge bestieg der Marsberger am Morgen gegen 05:30 Uhr ein Taxi, um von einer Kneipe an der Schützenstraße zum Dortmunder Hauptbahnhof zu fahren. Während der Fahrt forderte ein bisher unbekannter tatverdächtiger Taxifahrer den Marsberger auf, seine Liquidität nachzuweisen. Dieser zeigte dem Fahrer einen mittleren dreistelligen Bargeldbetrag.</p>
        </div>
        <div class="content-multi">
          <p>Nach kurzer Zeit hielt das Taxi auf Höhe der Heyden-Rynsch-Straße an. Der Fahrer stieg aus und zog den 51-Jährigen an seiner Umhängetasche aus dem Fahrzeug. Während der Geschädigte auf dem Boden lag, schlug der Unbekannte mehrfach mit Fäusten auf ihn ein und entriss ihm die Umhängetasche samt Bargeld und Mobiltelefon. Anschließend stieg er wieder in das Taxi und fuhr davon. Dabei wurde der 51-jährige Marsberger leicht verletzt.</p>
          <p>Die Polizei Dortmund ermittelt wegen Raubes und sucht Zeugen, die zur Tatzeit verdächtige Feststellungen gemacht haben oder Hinweise zu dem Täter geben können. Hinweise nimmt die Kriminalwache unter der Telefonnummer 0231/132-7441 entgegen.</p>
        </div>
        <h3>About</h3>
        <div class="content-multi">
          <p>Nach kurzer Zeit hielt das Taxi auf Höhe der Heyden-Rynsch-Straße an. Der Fahrer stieg aus und zog den 51-Jährigen an seiner Umhängetasche aus dem Fahrzeug. Während der Geschädigte auf dem Boden lag, schlug der Unbekannte mehrfach mit Fäusten auf ihn ein und entriss ihm die Umhängetasche samt Bargeld und Mobiltelefon. Anschließend stieg er wieder in das Taxi und fuhr davon. Dabei wurde der 51-jährige Marsberger leicht verletzt.</p>
          <p>Die Polizei Dortmund ermittelt wegen Raubes und sucht Zeugen, die zur Tatzeit verdächtige Feststellungen gemacht haben oder Hinweise zu dem Täter geben können. Hinweise nimmt die Kriminalwache unter der Telefonnummer 0231/132-7441 entgegen.</p>
        </div>
        <div class="content-multi">
          <p>Nach kurzer Zeit hielt das Taxi auf Höhe der Heyden-Rynsch-Straße an. Der Fahrer stieg aus und zog den 51-Jährigen an seiner Umhängetasche aus dem Fahrzeug. Während der Geschädigte auf dem Boden lag, schlug der Unbekannte mehrfach mit Fäusten auf ihn ein und entriss ihm die Umhängetasche samt Bargeld und Mobiltelefon. Anschließend stieg er wieder in das Taxi und fuhr davon. Dabei wurde der 51-jährige Marsberger leicht verletzt.
            Nach kurzer Zeit hielt das Taxi auf Höhe der Heyden-Rynsch-Straße an. Der Fahrer stieg aus und zog den 51-Jährigen an seiner Umhängetasche aus dem Fahrzeug. Während der Geschädigte auf dem Boden lag, schlug der Unbekannte mehrfach mit Fäusten auf ihn ein und entriss ihm die Umhängetasche samt Bargeld und Mobiltelefon. Anschließend stieg er wieder in das Taxi und fuhr davon. Dabei wurde der 51-jährige Marsberger leicht verletzt.
            Nach kurzer Zeit hielt das Taxi auf Höhe der Heyden-Rynsch-Straße an. Der Fahrer stieg aus und zog den 51-Jährigen an seiner Umhängetasche aus dem Fahrzeug. Während der Geschädigte auf dem Boden lag, schlug der Unbekannte mehrfach mit Fäusten auf ihn ein und entriss ihm die Umhängetasche samt Bargeld und Mobiltelefon. Anschließend stieg er wieder in das Taxi und fuhr davon. Dabei wurde der 51-jährige Marsberger leicht verletzt.
            Nach kurzer Zeit hielt das Taxi auf Höhe der Heyden-Rynsch-Straße an. Der Fahrer stieg aus und zog den 51-Jährigen an seiner Umhängetasche aus dem Fahrzeug. Während der Geschädigte auf dem Boden lag, schlug der Unbekannte mehrfach mit Fäusten auf ihn ein und entriss ihm die Umhängetasche samt Bargeld und Mobiltelefon. Anschließend stieg er wieder in das Taxi und fuhr davon. Dabei wurde der 51-jährige Marsberger leicht verletzt.</p>
          <p>Die Polizei Dortmund ermittelt wegen Raubes und sucht Zeugen, die zur Tatzeit verdächtige Feststellungen gemacht haben oder Hinweise zu dem Täter geben können. Hinweise nimmt die Kriminalwache unter der Telefonnummer 0231/132-7441 entgegen.</p>
        </div>
        <div class="content-multi">
          <p>Nach kurzer Zeit hielt das Taxi auf Höhe der Heyden-Rynsch-Straße an. Der Fahrer stieg aus und zog den 51-Jährigen an seiner Umhängetasche aus dem Fahrzeug. Während der Geschädigte auf dem Boden lag, schlug der Unbekannte mehrfach mit Fäusten auf ihn ein und entriss ihm die Umhängetasche samt Bargeld und Mobiltelefon. Anschließend stieg er wieder in das Taxi und fuhr davon. Dabei wurde der 51-jährige Marsberger leicht verletzt.</p>
          <p>Die Polizei Dortmund ermittelt wegen Raubes und sucht Zeugen, die zur Tatzeit verdächtige Feststellungen gemacht haben oder Hinweise zu dem Täter geben können. Hinweise nimmt die Kriminalwache unter der Telefonnummer 0231/132-7441 entgegen.</p>
        </div>
      </div>

      <span class="close-overlay-btn">❮</span>

  </div>
</div>