<div id="districtDescription">
  <h2 class="card-title"></h2>

  <div class="details-tab2">
    <span class="active" data-item="description" data-trans="tab_description">description</span>
    <span  data-item="facts" data-trans="tab_facts">facts</span>
  </div>

  <div class="horizontal-slider2">
    <div id="districtDesc" class="district-description sliding-item2 in">
      helllo ich bin die beschreibung!!!
    </div>
    <div id="districtFacts" class="sliding-item2">
      <table></table>
    </div>
  </div>


</div>