.details-head {
  position: relative;
  margin-left: -25px;
  overflow: hidden;
  margin-right: -25px;
  margin-top: -25px;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(59 72 75) !important;

  img {
    width: 100%;
    margin-top: -100px;
  }

  .details-title{
    position: absolute;
    bottom: 0;
    background-color: rgba(59, 72, 75, .5) !important;
    backdrop-filter: blur(15px);
    padding: 25px;
    font-family: "Courier New", serif;
    font-size: 1.2rem;
  }

  #closeDetails {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: #ffffff20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding-bottom: 2px;
    cursor: pointer;
    transition: background-color .25s;

    &:hover{
      background-color: rgba(255, 255, 255, 0.38);
      color: #000;
    }
  }
}


.close-info,
.open-info {
  width: 20px;
  height: 20px;
  font-size: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ffffff20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding-bottom: 2px;
  cursor: pointer;
  transition: background-color .25s;
  color: #000;
  font-family: monospace;

  &:hover {
    background-color: #ffffff40;
  }
}

.open-info {
  right: 25px;
  top: 25px;
  font-family: "Times New Roman", serif;
  text-transform: lowercase;
  font-weight: 500;
}