<div class="dashboard-container">
  <header class="dashboard-header">
    <h1 class="glitch" data-text="True Gotham">True Gotham</h1>
    <div class="cockpit-navi">
        <span class="navi-item" data-trans="nav_about" id="aboutItem">About</span>
        <span class="navi-item" data-trans="nav_github">GitHub</span>
        <div class="lang"><span class="lng">de</span> | <span class="lng active">en</span></div>
    </div>
  </header>
  <main class="dashboard-grid">
    [BREADCRUMB]
    [NAVIGATION]
    <div id="mapCard" class="dashboard-card card-main hidden">
      <h2 class="card-title" style="width: 0; height: 0; margin:0; opacity: 0">Main Card</h2>
      <div id="map"
           class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
           tabindex="0">
      </div>
    </div>
    <div id="typesCard" class="dashboard-card card-top-left flip-container hidden">
      <div class="flipper">
        <div class="front">
          <h2 class="card-title">
            <span data-trans="title_types_of_crimes">types of crimes</span>
            <span class="open-info">i</span></h2>
          <!--<div class="metric">2,547</div>-->
          <div class="chart-container" style="height: calc(100% - 2rem) !important;">
            <canvas id="crimesChart"></canvas>
          </div>
        </div>
        <div class="back" style="background-color: rgb(53 64 66 / 63%)!important;">
          <img class="desc-img" src="/img/mug.shot.front2.jpeg"/>
          <div class="info-description">
            <span class="close-info">x</span>
            <span data-trans="chart_info_types_of_crimes"></span>
          </div>
        </div>
      </div>
      <span class="spinner"></span>
    </div>
    <div id="districtsCard" class="dashboard-card card-top-right flip-container hidden">
      <div class="flipper">
        <div class="front" style="justify-content: flex-start;">
          <h2 class="card-title">
            <span data-trans="title_dangerous_districts">most dangerous districts</span>
            <span class="open-info">i</span></h2>
          <div class="metric">Innenstadt</div>
          <table id="dangerousDistricts"></table>
        </div>
        <div class="back" style="justify-content: flex-start; background-color: rgb(53 64 66 / 63%)!important;">
          [CASE_DETAILS]
          <div class="info-description">
            <span class="close-info">x</span>
            <span data-trans="chart_info_districts">
            In diesem Chart werden die zehn Stadtbezirke mit den meisten Verbrechen gezeigt. Dargestellt sind die relativen Anteile der Verbrechen im Vergleich zur Gesamtzahl.
              </span>
          </div>
          [DISTRICT_DESCRIPTION]
        </div>
      </div>
      <span class="spinner"></span>
    </div>
    <div id="crimesListCard" class="dashboard-card card-bottom-left flip-container hidden">
      <div class="flipper">
        <div class="front">[STATEMETS_LIST]</div>
        <div class="back">
          [STATEMET_DETAILS]
        </div>
      </div>
      <span class="spinner"></span>
    </div>
    <div id="totalCard" class="dashboard-card card-bottom-full flip-container vertical hidden">
      <div class="flipper">
        <div class="front">
          <h2 class="card-title">
            <span>
              <span data-trans="title_total_crimes">total crimes</span>
              <span class="titleTotalDistrict metric"></span>
            </span>
            <span class="open-info">i</span></h2>
          <div class="chart-container">
            <canvas id="crimesTimelineChart"></canvas>
          </div>
        </div>
        <div class="back" style="background-color: rgb(53 64 66 / 63%)!important;">
          <div class="metric" data-trans="title_chronology_of_events">Chronologie des Geschehens</div>
          <!--<h2 class="card-title">Chronologie des Geschehens</h2>-->
          <div class="chart-container">
            <canvas id="crimeDetailsTimelineChart"></canvas>
          </div>
          <div class="info-description">
            <span class="close-info">x</span>
            <span class="slim" data-trans="chart_info_total_crimes">In diesem Chart sind alle Verbrechen der vergangenen fünf Jahre nach ihrer Art aufgeschlüsselt. Dargestellt werden die relativen Anteile im Vergleich zur Gesamtzahl. Seltenere Verbrechen sind unter „Sonstiges“ zusammengefasst.</span>
          </div>
        </div>
      </div>
      <span class="spinner"></span>
    </div>
  </main>
</div>