#districtDescription {
  visibility: collapse;
  opacity: 0;
  z-index: 0;

  &.active {
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }


  .card-title{
    color: #88b1b1;
    text-shadow: 1px 1px 15px #00fffbab;
  }

  .district-description{
    font-size: 1.1rem;
    line-height: 1.4rem;
    height: 100%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    color: #949898;
    font-weight: 300;
    font-family: sans-serif;
    overflow: auto;
    text-align: left;
    gap: 2rem;
  }
}