<div id="case_title" class="metric" data-trans="title_profile_of_suspect"></div>

<div id="profile_navi" class="hidden">
  <span class="next-profile-btn active" data-item="profile0">1</span>
  <span class="next-profile-btn" data-item="profile1">2</span>
</div>

<div class="horizontal-slider hidden">
  <div id="case_profile0" class="sliding-item in">
    <table id="profileData0"></table>
  </div>
  <div id="case_profile1" class="sliding-item">
    <table id="profileData1"></table>
  </div>
  <div id="case_profile2" class="sliding-item">
    <table id="profileData2"></table>
  </div>
  <div id="case_profile3" class="sliding-item">
    <table id="profileData3"></table>
  </div>
  <div id="case_evidence" class="sliding-item">
    <table id="evidenceData"></table>
  </div>
  <div id="case_offenses" class="sliding-item">
    <table id="offensesData"></table>
  </div>
  <div id="case_motive" class="sliding-item">
    <div id="motiveData"></div>
  </div>
</div>
