<div id="case_title" class="metric" data-trans="title_profile_of_suspect"></div>

<div class="horizontal-slider hidden">
  <div id="case_profile" class="sliding-item in">
    <table id="profileData"></table>
  </div>
  <div id="case_evidence" class="sliding-item">
    <table id="evidenceData"></table>
  </div>
  <div id="case_offenses" class="sliding-item">
    <table id="offensesData"></table>
  </div>
  <div id="case_motive" class="sliding-item">
    <div id="motiveData"></div>
  </div>
</div>
