<div class="details-head">
  <img src="/img/sample5.jpeg"/>
  <span id="closeDetails">x</span>
</div>
<div class="card-description" style="height: 65%">
  <span class="text-time" id="statementTime">26.09.2025 – 13:59</span>
  <h3 id="statementTitle">Fahrer verschluckt SD-Karte nach verbotenem Kraftfahrzeugrennen und leistet Widerstand - Pfefferspray und Gaspistole sichergestellt</h3>
  <div class="details-tab">
    <span class="active" data-item="summary" data-trans="tab_summary">summary</span>
    <span  data-item="original"  data-trans="tab_original">original</span>
  </div>
  <div class="horizontal-slider">
    <div id="statementSummaryContent" class="sliding-item in">
      <p>In Dortmund und Lünen herrschte am langen Wochenende ein kalter, stählerner Atem der Nacht: Verbotene Kraftfahrzeugrennen schwatzten durch die Straßen, während die Stadt wie ein schlafender Drache under Lichtern lag. Ein 27-jähriger Dortmunder im Golf GTI und eine 20-Jährige aus Oer-Erkenschwick im Mercedes stellten sich dem Gesetz – Führerschein entrissen, Stille brach über ihren Fluss der Taten.</p>
      <p>Weiter zogen Schatten über Dortmund-Wambel, als ein 41-Jähriger im Ford Focus mit gebrochenem Licht und zitterndem Willen fuhr; Alkohol ließ seine Augen glänzen, er spielte mit Blinker wie einem falschen Schicksal, doch die Beamten hielten das wankende Herz der Verfolgung fest. Auf dem Wickeder Hellweg jagte ein 31-Jähriger den VW UP in rotem Zorn, trug Blut als Beweis, war ohne Lizenz, und die Halterhaft fiel wie ein stummer Zeuge.</p>
      <p>Später am Morgen klaffte die Martener Straße; ein 24-Jähriger aus Schwerte gab falsche Namen preis, suchte die Flucht, gestand Marihuana und verlor den letzten Funken Legitimierung. Die Stadt atmete schwer, während jeder Fahrer, ob fern oder nah, in die Fänge des Gesetzes fiel; Rauch von Sirenen legte sich über die Straßen und alle wurden entlassen, doch die Narben der Nacht blieben.</p>
    </div>
    <div id="statementContent" class="sliding-item"></div>
  </div>
  <a id="statementURL" href="https://www.presseportal.de/blaulicht/pm/4971/6126212" target="_blank">❯ <span data-trans="link_original_statement">zur originalen Pressemitteilung</span></a>
</div>