#crimesListCard {

  .details-tab {
    border-bottom: 1px solid #000;
    padding-left: 25px;

    span {
      border: 1px solid #000;
      border-bottom: none;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 8px 15px;
      margin-right: 5px;
      display: inline-block;
      background-color: #606e71;
      cursor: pointer;
      transition: all .3s;

      &.active{
        background-color: #959786;
        border-bottom: 1px solid #959786;
        margin-bottom: -1px;
        cursor: default;
        box-shadow: 2px -2px 25px 0 #00000050;
      }

      &:hover {
        background-color: #959786;
      }
    }
  }

  .horizontal-slider {
    position: relative;
    overflow: hidden;
    flex: auto;
    background-color: #959786;
    margin-top: -2rem;
    margin-bottom: 25px;

    .sliding-item {
      position: absolute;
      width: 100%;
      opacity: 0;
      left: 110%;
      overflow: hidden;
      top: 0;
      bottom: 0;
      padding-left: 25px;
      padding-right: 25px;
      padding-top: 2rem;
      transition: left .5s, opacity .5s;


      &.out {
        left: -110%;
        opacity: 0;
      }

      &.in {
        left: 0;
        opacity: 1;
        overflow-y: auto;
      }
    }
  }

  .back {
    background-color: #3b484b !important;
  }
}

.card-description {
  font-size: 1.1rem;
  line-height: 1.4rem;
  height: 100%;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  color: #000;
  font-weight: 300;
  font-family: sans-serif;

  overflow: auto;
  text-align: justify;
  gap: 2rem;

  margin-left: -25px;
  margin-right: -25px;
  padding-right: 0;

  p {
    margin-bottom: 2rem;
  }

  h3 {
    text-align: left;
    color: #ff4f4f;
    text-shadow: 0 0 25px #ff4f4fA0;
    margin-left: 25px;
    margin-right: 25px;
  }

  .text-time{
    color: rgb(255 255 255 / 47%);
    font-weight: 100;
    font-style: italic;
    margin-bottom: -1rem;
    margin-left: 25px;
  }

  a{
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding-left: 0;
    transition: letter-spacing .2s;

    &:hover{
      letter-spacing: 1px;
    }
  }

  #statementURL{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 25px 50px;
    margin-left: -25px;
    background-color: #959786;
  }
}


/* statement image head */

.details-head {
  position: relative;
  margin-left: -25px;
  overflow: hidden;
  margin-right: -25px;
  margin-top: -25px;
  height: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(59 72 75) !important;

  img {
    width: 100%;
    margin-top: -100px;
  }

  .details-title{
    position: absolute;
    bottom: 0;
    background-color: rgba(59, 72, 75, .5) !important;
    backdrop-filter: blur(15px);
    padding: 25px;
    font-family: "Courier New", serif;
    font-size: 1.2rem;
  }

  #closeDetails {
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    position: absolute;
    right: 25px;
    top: 25px;
    background-color: #ffffff20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding-bottom: 2px;
    cursor: pointer;
    transition: background-color .25s;

    &:hover{
      background-color: rgba(255, 255, 255, 0.38);
      color: #000;
    }
  }
}