.spinner {
  width: 48px;
  height: 48px;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-top: -24px;
  display: inline-block;
  position: absolute;
  background-color: #445a5b;
  background: radial-gradient(ellipse at center, #00000000 0%, #efdfdf3d 14%, #91afb000 15%, #445a5b 100%);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  z-index: 0;
  opacity: 0;
  visibility: hidden;

  &.on{
    opacity: 1;
    z-index: 999;
    visibility: visible;
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    height: 16px;
    width: 4px;
    background: #e74e25;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(0deg);
    transform-origin: 25% 0;
    box-sizing: border-box;
    animation: spinner_rotation 10s linear infinite;
  }

  &::before {
    height: 22px;
    width: 2px;
    transform: translateX(-50%) rotate(0deg);
    animation-duration: 1s;
  }
}

@keyframes spinner_rotation {
  0%    { transform: rotate(0deg)}
  100%  { transform: rotate(360deg)}
}