<h2 class="card-title">
  <span data-trans="title_current_statements">Aktuelle Meldungen</span>
  <span class="titleListDistrict metric"></span>
</h2>
<div class="crimes-filter">
  <input type="text" id="crimeSearchInput" placeholder="Search..."/>
  <select id="crimeTypeFilter">
    <option value="">Alle Delikte</option>
    <option value="Gewalt-Delikte">Gewalt-Delikte</option>
    <option value="Straßenverkehrsdelikte" >Straßenverkehrsdelikte</option>
  </select>
</div>
<div class="search-result">Gefunden:
  <span class="active from">123</span> - <span class="active to">123</span> / <span class="total">233</span>
</div>
<div id="list-back">︿</div>
<ul id="pastCrimes"></ul>
<div id="emptyList">Keine Mitteilungen gefunden!</div>
<div id="list-ahead">﹀</div>
