<div class="root-claim">
  <p class="primary-claim" data-trans="start_title">Crime lurks in the shadows, invisible yet palpable in every street and corner of the city. It leaves traces that only those who look closely can discern.</p>
  <p class="secondary-claim" data-trans="start_subtitle">The project <span>True Gotham</span> brings these hidden acts to light. Using artificial intelligence, statements from the public police online press are analyzed, turning superficial descriptions into clear facts, revealing the dark reality of the city.</p>
  <!--<button id="startBtn">open the file...</button>-->
  <a href="#" id="startBtn">❯ <span data-trans="start_btn">open the file...</span></a>
</div>
<div class="police-overlay">
  <div class="light left"></div>
  <div class="light right"></div>
</div>