name: Deploy

on:
  repository_dispatch:
    types: [deploy]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH deploy with cleanup
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.PASSWORD }}
          port: ${{ secrets.PORT }}
          script: |
            IMAGE_TAG="${{ github.event.client_payload.image_tag }}"
            # Pull new image
            docker pull ghcr.io/thecodemonkey/truegotham:"$IMAGE_TAG"

            # Stop and remove existing container
            docker stop truegotham || true
            docker rm truegotham || true

            # Run new container
            docker run -d --name truegotham \
              --env-file /home/truegotham/truegotham.env \
              -p 7171:7171 \
              -v /home/truegotham:/app/data \
              ghcr.io/thecodemonkey/truegotham:"$IMAGE_TAG"

            # Cleanup old images, behalte nur die letzten 3
            # docker images -q ghcr.io/thecodemonkey/truegotham | tail -n +4 | xargs -r docker rmi -f
